---
---
$light-theme: true;
$light-background: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;

@mixin theme-colors($light-theme: true) {
  @if $light-theme {
    background-color: $light-background;
    color: $light-text;
  } @else {
    background-color: $dark-background;
    color: $dark-text;
  }
}


$container-max-width: 1000px;

//$body-font-family: 'Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace';
//$body-font-family: '"Times New Roman", Times, "Alternate System Font", serif';
$body-font-family: 'Cambria, Garamond, serif';
//$body-font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif';

$header-font-family: 'Roboto, Verdana, "Arial Black", Gadget, sans-serif';

$pre-background: #eee;
$pre-font-family: 'Consolas, Terminal, monospace';

$link-color: #3090f0;

$blockquote-background: #eee;
$blockquote-font-family: 'Cursive';

body {
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
  font-size: 18px;
  line-height: 1.4;
  @include theme-colors($light-theme);
}

.container {
  width: 80%;
  max-width: $container-max-width;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-family: $header-font-family;
  line-height: 1.1;
  @include theme-colors($light-theme);
}

h1 {
  font-size: 30px;
}

li {
  line-height: 1.5;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%
}

dt {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  font-family: $blockquote-font-family;
  padding-left: 10px;
  border-left: 1px dotted;
}

pre {
  //background: rgba(0, 0, 0, 0.9);
  background: $pre-background;
  font-family: $pre-font-family;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  font-size: 16px;
  color: $pre-foreground; //#b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

// Links
//   a, a:hover, a:visited

a {
  color: $link-color;
 // color: #63c0f5;
  //text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  text-decoration: none;
}

// Clearfix 

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
